# This file is part of censusgeocode.
# https://github.com/fitnr/censusgeocode

# Licensed under the General Public License (version 3)
# http://opensource.org/licenses/LGPL-3.0
# Copyright (c) 2015, Neil Freeman <contact@fakeisthenewreal.org>

language: python

python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - 3.6

before_install:
    - pip install coverage

install:
    - python setup.py install

script:
    - coverage run --include='censusgeocode/*' setup.py test

after_success:
    - coverage report
