interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?city=Washington&zip=20500&format=json&state=DC&street=1600+Pennsylvania+Avenue+NW&vintage=Current_Current&benchmark=Public_AR_Current
  response:
    body: {string: !!python/unicode '{"result":{"input":{"address":{"state":"DC","street":"1600
        Pennsylvania Avenue NW","city":"Washington","zip":"20500"},"benchmark":{"id":"4","isDefault":false,"benchmarkName":"Public_AR_Current","benchmarkDescription":"Public
        Address Ranges - Current Benchmark"}},"addressMatches":[{"matchedAddress":"1600
        PENNSYLVANIA AVE NW, WASHINGTON, DC, 20502","coordinates":{"x":-77.03535,"y":38.898754},"tigerLine":{"tigerLineId":"76225813","side":"L"},"addressComponents":{"fromAddress":"1600","toAddress":"1698","preQualifier":"","preDirection":"","preType":"","streetName":"PENNSYLVANIA","suffixType":"AVE","suffixDirection":"NW","suffixQualifier":"","state":"DC","city":"WASHINGTON","zip":"20502"}}]}}'}
    headers:
      content-language: [en-US]
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
